* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/klotter.jpeg);
    background-repeat: 4;
}

:root {
    --ff-title: 'Archivo Black', sans-serif;
    --clr-header: yellow;
}

.flex {
    display: flex;
}

img {
    display: block;
}


/* ---------------TEXT---------------- */
h1 {
    text-transform: uppercase;
    font-family: var(--ff-title);
}

h2,
h3,
h4,
h5 {
    font-family: var(--ff-bebas);
    text-transform: uppercase;
}

h2 {
    font-size: 2rem;
    color: rgb(248, 56, 152);
}

p,
a {
    font-family: Arial, Helvetica, sans-serif;
}
ul,li{
    list-style: none;
}



/* ---------------HEADER ---------------- */
header {
    position: fixed;
    width: 100vw;
    background-color: var(--clr-header);
    z-index: 3;
    padding: 1rem;
}
.navigation-list{
    display: flex;
    justify-content: center;
    gap: 2rem; 
}
.navigation-list li:hover{
    text-decoration: underline;
}
.navigation-list a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.navigation-list-dropdown{
    position: absolute;
    background-color: var(--clr-header);
    border-radius: 5px;
    display: none;
}
.navigation-list-dropdown li{
    margin: 1rem;
}
.hover-dropdown:hover .navigation-list-dropdown{
    display: block;
}




/* ---------------FOOTER---------------- */
footer{
    background-color: var(--clr-header);
    padding: 5rem;
    text-align: center;
    z-index: 3;
}