* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/Banksy/banksy-img/brickwall.jpeg);
    background-repeat: 4;
}

:root {
    --ff-title: 'Climate Crisis', cursive;
    --ff-bebas: 'Bebas Neue', sans-serif;
    --clr-header: yellow;
}

.flex {
    display: flex;
}

img {
    display: block;
}


/* ---------------TEXT---------------- */
h1 {
    text-transform: uppercase;
    font-family: var(--ff-title);
}

h2,
h3,
h4,
h5 {
    font-family: var(--ff-bebas);
    text-transform: uppercase;
}

h2 {
    font-size: 2rem;
}

p,
a {
    font-family: Arial, Helvetica, sans-serif;
}
ul,li{
    list-style: none;
}



/* ---------------HEADER ---------------- */
header {
    position: fixed;
    width: 100vw;
    background-color: var(--clr-header);
    z-index: 3;
    padding: 1rem;
}
.navigation-list{
    display: flex;
    justify-content: center;
    gap: 2rem; 
}
.navigation-list li:hover{
    text-decoration: underline;
}
.navigation-list a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.navigation-list-dropdown{
    position: absolute;
    background-color: var(--clr-header);
    border-radius: 5px;
    display: none;
}
.navigation-list-dropdown li{
    margin: 1rem;
}
.hover-dropdown:hover .navigation-list-dropdown{
    display: block;
}

.header-introbox {
    text-align: center;
    font-size: larger;
    padding-top: 3.5rem;
    padding-bottom: 1rem;
    background-color: var(--clr-header);
}





/* ---------------HERO ---------------- */
.hero-section {
    justify-content: space-around;
    overflow: hidden;
    margin: 1rem 0  -5em -100vw;
}
.animation-objects {
    position: relative;
    z-index: 2;
    height: 10rem;
    animation: sub 40s linear infinite;
}
@keyframes sub {
    from {
        left: 0;
    }

    to {
        left: 100vw;
    }
}




/* ---------------MAIN ---------------- */
.main-container {
    width: 90vw;
    max-width: 70rem;
    gap: 3rem;
    background-color: rgb(247, 247, 247);
    margin: 0 auto;
    padding: 7rem 2rem 2rem 2rem;
    z-index: 1;
}
.column-container{
    gap: 2rem;
}
@media (max-width:45rem) {
    .column-container{
        flex-direction: column;
    }
}

.text-section-2{
    margin-top: 2rem;
}

.poster{
    width: 100%;
    margin: 1rem 0;
}


/* ---------------FOOTER---------------- */
footer{
    background-color: var(--clr-header);
    padding: 5rem;
    text-align: center;
}