* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/Banksy/banksy-img/brickwall.jpeg);
    background-repeat: 4;
}

.flex {
    display: flex;
}

img {
    object-fit: contain;
}

:root {
    --ff-title: 'Climate Crisis', cursive;
    --ff-bebas: 'Bebas Neue', sans-serif;
    --clr-header: yellow;
}







/* ---------------TEXT---------------- */
h1 {
    text-transform: uppercase;
    font-family: var(--ff-title);
}

h2,
h3,
h4,
h5 {
    font-family: var(--ff-bebas);
    text-transform: uppercase;
}

h2 {
    font-size: 2rem;
}

p,
a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

@media (max-width:45rem) {
    p {
        font-size: .85rem;
        line-height: 1.2rem;
    }
}

ul,
li {
    list-style: none;
}








/* ---------------HEADER ---------------- */
header {
    position: fixed;
    width: 100vw;
    background-color: var(--clr-header);
    z-index: 3;
    padding: 1rem;
}

.navigation-list,
.navigation-list a {
    justify-content: center;
    gap: 2rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.navigation-main-list:hover {
    text-decoration: underline;
}


.navigation-list-dropdown {
    position: absolute;
    background-color: var(--clr-header);
    border-radius: 0 0 5px 5px;
    display: none;
    overflow: hidden;
}

.navigation-list-dropdown li {
    padding: .5rem;
}

.navigation-list-dropdown li:hover {
    background-color: #e0e002;
    transition: .25s;
}

.hover-dropdown:hover .navigation-list-dropdown {
    display: block;
}

.header-introbox {
    text-align: center;
    font-size: larger;
    padding-top: 3.5rem;
    padding-bottom: 1rem;
    background-color: var(--clr-header);
}










/* ---------------HERO ---------------- */
.hero-section {
    justify-content: space-around;
    overflow: hidden;
    margin: 1rem 0 -5em -100vw;
}

.animation-objects {
    position: relative;
    z-index: 2;
    height: 10rem;
    animation: object 40s linear infinite;
}

@keyframes object {
    from {
        left: 0;
    }

    to {
        left: 100vw;
    }
}

@media (max-width:45rem) {
    .animation-objects {
        height: 7rem;
    }
}

@media (max-width:30rem) {
    .animation-objects {
        height: 5rem;
    }
}








/* ---------------MAIN ---------------- */
.main-container {
    width: 90vw;
    max-width: 70rem;
    gap: 3rem;
    background-color: rgb(247, 247, 247);
    margin: 3rem auto 2rem auto;
    padding: 3rem 1rem 1rem 1rem;
    z-index: 1;
}

.column-container {
    gap: 2rem;
    flex-direction: column-reverse;
}

@media (min-width:45rem) {
    .main-container {
        padding: 5rem 2rem 2rem 2rem;
        margin: 2rem auto 2rem auto;
    }

    .column-container {
        flex-direction: row;
    }

    .main__column-left {
        width: 60%;
    }

    .main__column-right {
        width: 40%;
    }
}




.poster {
    margin: 2rem 0;
}


.baloon {
    align-self: flex-start;
    justify-content: end;
    position: sticky;
    top: 30%;
    width: 20%;
}

.girl {
    width: 30%;
    margin-top: 4rem;
}


.grid {
    margin-top: 2rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(7, 1fr);
    grid-template-areas:
        "e  f"
        "e  g"
        "b  b"
        "c  d"
        "a  a"
        "h  h";
}

@media (min-width:45rem) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: repeat(4, 1fr);
        grid-template-areas:
            "a  a  c  d"
            "a  a  e  f"
            "a  a  e  g"
            "b  b   h  h";
    }
}

.grid img {
    width: 100%;
    object-fit: cover;
}

.grid_img-a {
    grid-area: a;
}

.grid_img-b {
    grid-area: b;
}

.grid_img-c {
    grid-area: c;
}

.grid_img-d {
    grid-area: d;
}

.grid_img-e {
    grid-area: e;
}

.grid_img-f {
    grid-area: f;
}

.grid_img-g {
    grid-area: g;
}

.grid_img-h {
    grid-area: h;
}






/* ---------------FOOTER---------------- */
footer {
    background-color: var(--clr-header);
    padding: 5rem;
    text-align: center;
}